<div id="site-nav">
    <div class="container">
        <div class="brand">
            <div class="logo"><a href="#!/"><img src="<%=site.pic%>" alt="<%=site.title%>"/></a></div>
            <h1><a href="#!/"><%=site.title%></a></h1>
        </div>
        <ul class="user-nav-list">
            <% if(site.username){ %>
            <li>欢迎你，<%-site.username%></li>
            <% }else{ %>
            <li><a href="#!/signin/">登录</a>&nbsp;|&nbsp;</li>
            <li><a href="#!/signup/">注册</a></li>
            <% } %>
        </ul>
    </div>
</div>
<div id="container"></div>
<% if(site.links){ %>
<div id="links">
    <div class="container">
        <h3>网站链接</h3>
        <ul class="link-list">
            <% _.each(site.links, function(link){%>
            <li><a href="<%=link.link%>" target="_blank" data-bypass="true"><img src="<%=link.pic%>" alt="<%=link.name%>"/></a></li>
            <% }) %>
        </ul>
    </div>
</div>
<% } %>
<div id="footer">
    <div class="container">
        <div class="copyright"><%=site.copyright%></div>
    </div>
</div>