.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0;
  background-image: none;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #286a46 0%, #173e29 100%);
  background-image: -o-linear-gradient(top, #286a46 0%, #173e29 100%);
  background-image: linear-gradient(to bottom, #286a46 0%, #173e29 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff286a46', endColorstr='#ff173e29', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #143624;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #173e29;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #173e29;
  border-color: #143624;
}
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #173e29;
  background-image: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #01c700 0%, #018a00 100%);
  background-image: -o-linear-gradient(top, #01c700 0%, #018a00 100%);
  background-image: linear-gradient(to bottom, #01c700 0%, #018a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff01c700', endColorstr='#ff018a00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #018000;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #018a00;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #018a00;
  border-color: #018000;
}
.btn-success:disabled,
.btn-success[disabled] {
  background-color: #018a00;
  background-image: none;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #9d66ff 0%, #7629ff 100%);
  background-image: -o-linear-gradient(top, #9d66ff 0%, #7629ff 100%);
  background-image: linear-gradient(to bottom, #9d66ff 0%, #7629ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d66ff', endColorstr='#ff7629ff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #6f1fff;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #7629ff;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #7629ff;
  border-color: #6f1fff;
}
.btn-info:disabled,
.btn-info[disabled] {
  background-color: #7629ff;
  background-image: none;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #ff891f 0%, #e16a00 100%);
  background-image: -o-linear-gradient(top, #ff891f 0%, #e16a00 100%);
  background-image: linear-gradient(to bottom, #ff891f 0%, #e16a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff891f', endColorstr='#ffe16a00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #d76600;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #e16a00;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #e16a00;
  border-color: #d76600;
}
.btn-warning:disabled,
.btn-warning[disabled] {
  background-color: #e16a00;
  background-image: none;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #fe4241 0%, #fe0504 100%);
  background-image: -o-linear-gradient(top, #fe4241 0%, #fe0504 100%);
  background-image: linear-gradient(to bottom, #fe4241 0%, #fe0504 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffe4241', endColorstr='#fffe0504', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #f60301;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #fe0504;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #fe0504;
  border-color: #f60301;
}
.btn-danger:disabled,
.btn-danger[disabled] {
  background-color: #fe0504;
  background-image: none;
}
.thumbnail,
.img-thumbnail {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #e8e8e8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #286a46 0%, #21573a 100%);
  background-image: -o-linear-gradient(top, #286a46 0%, #21573a 100%);
  background-image: linear-gradient(to bottom, #286a46 0%, #21573a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff286a46', endColorstr='#ff21573a', GradientType=0);
  background-color: #21573a;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 2px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #506483 0%, #3d4c63 100%);
  background-image: -o-linear-gradient(top, #506483 0%, #3d4c63 100%);
  background-image: linear-gradient(to bottom, #506483 0%, #3d4c63 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff506483', endColorstr='#ff3d4c63', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #3d4c63 0%, #42526b 100%);
  background-image: -o-linear-gradient(top, #3d4c63 0%, #42526b 100%);
  background-image: linear-gradient(to bottom, #3d4c63 0%, #42526b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d4c63', endColorstr='#ff42526b', GradientType=0);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #286a46 0%, #1a452e 100%);
  background-image: -o-linear-gradient(top, #286a46 0%, #1a452e 100%);
  background-image: linear-gradient(to bottom, #286a46 0%, #1a452e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff286a46', endColorstr='#ff1a452e', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #01c700 0%, #019400 100%);
  background-image: -o-linear-gradient(top, #01c700 0%, #019400 100%);
  background-image: linear-gradient(to bottom, #01c700 0%, #019400 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff01c700', endColorstr='#ff019400', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #9d66ff 0%, #7c33ff 100%);
  background-image: -o-linear-gradient(top, #9d66ff 0%, #7c33ff 100%);
  background-image: linear-gradient(to bottom, #9d66ff 0%, #7c33ff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d66ff', endColorstr='#ff7c33ff', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #ff891f 0%, #eb6f00 100%);
  background-image: -o-linear-gradient(top, #ff891f 0%, #eb6f00 100%);
  background-image: linear-gradient(to bottom, #ff891f 0%, #eb6f00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff891f', endColorstr='#ffeb6f00', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #fe4241 0%, #fe100e 100%);
  background-image: -o-linear-gradient(top, #fe4241 0%, #fe100e 100%);
  background-image: linear-gradient(to bottom, #fe4241 0%, #fe100e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffe4241', endColorstr='#fffe100e', GradientType=0);
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #1a452e;
  background-image: -webkit-linear-gradient(top, #286a46 0%, #1e4e34 100%);
  background-image: -o-linear-gradient(top, #286a46 0%, #1e4e34 100%);
  background-image: linear-gradient(to bottom, #286a46 0%, #1e4e34 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff286a46', endColorstr='#ff1e4e34', GradientType=0);
  border-color: #1e4e34;
}
.panel {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #286a46 0%, #21573a 100%);
  background-image: -o-linear-gradient(top, #286a46 0%, #21573a 100%);
  background-image: linear-gradient(to bottom, #286a46 0%, #21573a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff286a46', endColorstr='#ff21573a', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #dcdcdc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
