.class-cate .cxf_thumb-list li img{
	width: 239px;
	height: 190px;
-moz-box-shadow:2px 2px 10px #eee;
-webkit-box-shadow:2px 2px 10px #eee;
box-shadow:2px 2px 10px #eee;

}
.class-cate ul,.class-cate li{
	 margin: 0px;
	 padding: 0px;
}

.class-cate .cxf_thumb-list li{
	 list-style: none;

	 padding: 15px;
	 float: left;
}
.blueline{
	height: 2px;
	background-color: #11567C;
	margin: 20px 40px;
	clear: both;
}

.class-cate ul:after {
  clear: both;
}

.homebanner{ width:100%; height:425px; margin:0px auto;}
.fullSlide {width: 100%;position: relative;height: 425px;background: #000;margin: 0 auto;}
.fullSlidetext {width: 1002px;height: 20px;	position: relative;	margin: 0 auto;}
.fullSlide .bd {margin: 0 auto;position: relative;z-index: 0;overflow: hidden;}
.fullSlide .bd ul {width: 100% !important;}
.fullSlide .bd li {width: 100% !important;height: 425px;overflow: hidden;text-align: center;}
.fullSlide .bd li a {/*display:block;height:360px;*/}
.fullSlide .bd li img {

width: 100%;
height: 425px;
}
.fullSlide .hd {width: 100%;position: absolute;z-index: 1;bottom: 0;left: 0;height: 40px;line-height: 40px;}
.fullSlide .hd ul {text-align: center;}
/* 矩形点
.fullSlide .hd ul li {cursor: pointer;display: inline-block;*display:inline;zoom: 1;width: 42px;height: 11px;margin: 1px;overflow: hidden;background: #fff;filter: alpha(opacity=50);opacity: 0.5;line-height: 999px;}*/
/*圆形点*/
.fullSlide .hd ul li { background: none repeat scroll 0 0 #fff;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    line-height: 999px;
    margin: 0 10px;
    opacity: 1;
    overflow: hidden;
    width: 15px;*display:inline;zoom: 1;}
.fullSlide .hd ul .on {background:none;border:1px #FFF solid;}
.fullSlide .prev, .fullSlide .next {
    background: url("images/slider-arrow.png") no-repeat scroll -126px -137px #fff;
    cursor: pointer;
    display: none;
    height: 60px;
    left: 5%;
    margin-top: -30px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 1;
}
.fullSlide .next {left: auto;right: 5%;background-position: -6px -137px;}



.cxf_bigger_img{
width:550px; 
height: 400px;

}

.cxf_bigger_img img{
	width:530px; 
	height: 400px;


}
.cxf_small_img{

width:270px; 
height: 200px;
}

.cxf_small_img img{

width:250px; 
height: 200px;
}
.cxf-special{
margin: 0px;
 
list-style-type: none;
padding: 0px;
}

.cxf-special ul{
margin: 0px;
float:  left;
list-style-type: none;
padding: 0px;
}
.cxf-special li{
margin: 0px;
float:  left;
list-style-type: none;
padding: 10px;
}
.cxf-special li a{
display: block;
}
 
.slider-holder
{
    height:425px;
    width:100%;
}

.slider-holder img
{
    height:425px;
}



/*BREADCRUMB*/

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 2px;
}
.breadcrumb > li {
  display: inline-block;
  color:#ffffff;
}

.breadcrumb a
{
    color:#ffffff;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb > .active {
  color: #aaaaaa;
}

#breadcrumb img 
{
    width:100%;
    position: relative;
}

#breadcrumb {

}
#breadcrumb .breadcrumb {
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 14px;
  padding-left: 35px;
  padding-right: 0;


}

.breadholder{

  position: absolute;
  z-index: 999;
  top:168px;
}

/*BREADCRUMB-ENDS*/
/*BREADCRUMB-DES*/
.breadholder .des_tt
{
    padding-left: 6%;
    color:#fff;
    margin-bottom: 0.5em;
}

.breadholder .des_ch
{
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 0.5em;
    color:#fff;
    /*width:80%;*/
}

.breadholder .des_en
{
    padding-left: 4%;
    padding-right: 4%;
    color:#fff;
    margin-bottom: 0.5em;
    /*width:80%;*/
}


.breadcrumb_de {
  padding: 8px 2px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.breadcrumb_de {
  padding: 8px 2px;
  list-style: none;
  border-radius: 2px;
  margin-bottom: 0;
}
.breadcrumb_de > li {
  display: inline-block;
}
.breadcrumb_de > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb_de > .active {
  color: #777777;
}

#breadcrumb_de {
  background-color: #f5f5f5;
}
#breadcrumb_de .breadcrumb {
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
}
/*BREADCRUMB-DES-ENDS*/
#category
{
    margin-top: 1em;
}
/*THUMBLIST*/
.thumb-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  *margin-left: 0;
  *margin-right: 0;
  *zoom: 1;
}
.thumb-list:before,
.thumb-list:after {
  content: " ";
  display: table;
}
.thumb-list:after {
  clear: both;
}
.thumb-list:before,
.thumb-list:after {
  content: " ";
  display: table;
}
.thumb-list:after {
  clear: both;
}
.thumb-list li {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  *padding-left: 0;
  *padding-right: 0;
  *overflow: hidden;
  width: 285px;
  margin-top: 15px;
}
.thumb-list li .thumb {
  display: block;
}
.thumb-list li .thumb img {
  width: 235px;
  height: 128px;
}
.thumb-list li .intro {
  color: #0f5a82;
  margin-top: 5px;
  text-decoration: none;
  display: block;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
}

.thumb-list li .intro_ch {
  color: #0f5a82;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: none;
  display: block;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
}

.thumb-list li .intro_en {
  color: #333;
  margin-top: 1px;
  text-decoration: none;
  display: block;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
}

.thumb-list li .counter {
  color: #d3381c;
  margin-top: 1px;
  text-decoration: none;
  display: block;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  float: right;
}

.thumb-list .lg {
  width: 468px;
}
.thumb-list .lg .thumb img {
  width: 438px;
  height: 281px;
}
.thumb-list .title a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
  width: 255px;
  height: 190px;
  background-color: #0f5a82;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: '' 0 0 5px rgba(0, 0, 0, 0.2) 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 0 5px rgba(0, 0, 0, 0.2) 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 0 5px rgba(0, 0, 0, 0.2) 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 0 5px rgba(0, 0, 0, 0.2) 1px 2px rgba(0, 0, 0, 0.2);
}
.thumb-list .title a h3 {
  margin: 0;
  padding: 70px 0 0;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.thumb-list .title a h4 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.thumb-list .title .more {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media (max-width: 767px) {
  .thumb-list li {
    width: 160px;
  }
  .thumb-list li .thumb img {
    width: 130px;
    height: 71px;
  }
  .thumb-list .lg {
    width: 320px;
  }
  .thumb-list .lg .thumb img {
    width: 290px;
    height: auto;
  }
  .thumb-list .title a {
    width: 130px;
    height: 112px;
  }
  .thumb-list .title a h3 {
    padding: 40px 0 0;
    font-size: 18px;
  }
  .thumb-list .title a h4 {
    font-size: 12px;
  }
  .thumb-list .title .more {
    font-size: 10px;
  }
}

/*THUMBLIST-ENDS*/
/*resource-page*/
.res_holder
{
   padding-top: 50px;
}

.res_img
{
    /*width: 380px;
    height: 285px;*/
    float:left;
    padding-left: 5%;
}

.res_img img
{
    width: 800px;
    height: 196px;
}

.res_intro
{
    padding-left: 40%;
    padding-right:25%;
    color:#fff;
}
@media (max-width: 767px) {
.res_img
{
    padding:0;
}

.res_intro
{
    padding-left: 0;
    padding-right: 5%
}


}
/*resource-page_ends*/
